<ion-view view-title="Ambiances">
	<ion-content>
		<div class="row">
			<div class="col col-50 ambiancePad">
				<div class="col burger">
					<div class="text-center ambianceText">BURGER</div>
				</div>
			</div>
			<div class="col col-50 ambiancePad">
				<div class="col sushi">
					<div class="text-center ambianceText">JAPONAIS</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50 ambiancePad">
				<div class="col gastronomique">
					<div class="text-center ambianceText">GASTRONOMIQUE</div>
				</div>
			</div>
			<div class="col col-50 ambiancePad">
				<div class="col italien">
					<div class="text-center ambianceText">ITALIEN</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50 ambiancePad">
				<div class="col chinois">
					<div class="text-center ambianceText">CHINOIS</div>
				</div>
			</div>
			<div class="col col-50 ambiancePad">
				<div class="col orientale">
					<div class="text-center ambianceText">ORIENTALE</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-50 ambiancePad">
				<div class="col fastFood">
					<div class="text-center ambianceText">FAST-FOOD</div>
				</div>
			</div>
			<div class="col col-50 ambiancePad">
				<div class="col vegetarien">
					<div class="text-center ambianceText">VEGETARIEN</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>