<ion-view view-title="Burger">
    <ion-content>
        <div class="row ambianceName">
            <div class="col" align="left">
                <span class="padding category policeType">Burger</span>
            </div>
        </div>
        <div class="row padding firstRow" ui-sref="resto2">
            <div class="col imgRestaurantBurg">
                <div class="row secondRow">
                    <div class="col padding" align="left">
                        <h3 class="restaurantTitle policeTypo light">Burger Bar</h3>
                    </div>
                    <div class="col notePlace" align="right">
                        <h3><span class="light noteResto">4,5/5</span></h3>
                    </div>
                </div>
                <div class="thirdRow">
                    <div class="col light">
                        <p class="policeTypo restoInfo"><span class="icon-left ion-location iconAdress"></span>7 rue du Général Leclerc</p>
                        <p class="policeTypo restoInfo"><span class="marginInfo">75010 Paris</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding firstRow">
            <div class="col imgRestaurant2">
                <div class="row secondRow">
                    <div class="col padding" align="left">
                        <h3 class="restaurantTitle policeTypo light">Burger Ranch</h3>
                    </div>
                    <div class="col notePlace" align="right">
                        <h3><span class="light noteResto">3/5</span></h3>
                    </div>
                </div>
                <div class="thirdRow">
                    <div class="col light">
                        <p class="policeTypo restoInfo"><span class="icon-left ion-location iconAdress"></span>34 avenue des pres fleuris</p>
                        <p class="policeTypo restoInfo"><span class="marginInfo">75006 Paris</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding firstRow">
            <div class="col imgRestaurant3">
                <div class="row secondRow">
                    <div class="col padding" align="left">
                        <h3 class="restaurantTitle policeTypo light">Burger King</h3>
                    </div>
                    <div class="col notePlace" align="right">
                        <h3><span class="light noteResto">4/5</span></h3>
                    </div>
                </div>
                <div class="thirdRow">
                    <div class="col light">
                        <p class="policeTypo restoInfo"><span class="icon-left ion-location iconAdress"></span>56 boulevard du colonel  payet</p>
                        <p class="policeTypo restoInfo"><span class="marginInfo">92000 Paris</span></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>