<ion-view view-title="home">
  <ion-content scroll="false">
    <div class="row bg_01 homeRow">
    	<div class="col col-50 verticalAlign">
    		<a class="col" ui-sref="ambiance">
                <div class="col blocPlacing" >
    			     <h4 class="light blockTitle" align="center">CHERCHEZ UN<br>RESTAURANT<br>SELONS VOS<br>CRITERES</h4>
    			 <div class="col" align="center">
    				<i class="light iconSize ion-ios-search-strong"></i>
    			 </div>
    		  </div>
            </a>
    	</div>
    	<div class="col col-50 verticalAlign">
    		<a class="col" ui-sref="map">
                <div class="col blocPlacing">
    			 <h4 class="light blockTitle" align="center">Trouvez un<br>RESTAURANT<br>ou que vous<br>soyez</h4>
    			<div class="col" align="center">
    				<i class="light iconSize ion-location"></i>
    			</div>
    		</div>
        </a>
    	</div>
    </div>
  </ion-content>
</ion-view>