<!--<ion-side-menus>
    <ion-side-menu-content>

        <ion-nav-bar class="bartitre">

            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-ios-search-strong" >
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left"></ion-side-menuside>
</ion-side-menus>-->

<ion-view view-title="Ma Localisation">
    <ion-content class="has-header">

        <a ui-sref="resto1" class="button button-icon icon ion-location"></a>

        <a ui-sref="test" class="button button-icon icon ion-location"></a>


    </ion-content>

</ion-view>

   <!-- <div class="bar bar-header">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <div class="h1 title">Ma Localisation</div>
        <button class="button button-icon icon ion-search "></button>
    </div>-->


