<ion-view view-title="Restaurant">

<!--<div class="bar bar-header">
    <button class="button button-icon icon ion-search "></button>
    <div class="h1 title">Takayala</div>
</div>-->

<ion-content class="has-header">
    <div class="row rowphoto">
            <div class="col adresse">
                <p><i class="icon ion-ios-location"></i>&nbsp; 2 rue des Genets <br> &nbsp;&nbsp;&nbsp; 75002 Paris <br>
                    <i class="icon ion-android-subway"></i>	 &nbsp;Metro 1 : blablabla</p>
            </div>

    </div>

    <div class="row rownomresto">
        <div class="col col-33 nomresto">
            <h2>Takayala</h2>
        </div>
        <div class="col col-33 note" ><p>3.5/5</p></div>
        <div class="col col-33 note"><p>€€</p></div>
    </div>

    <hr>

    <div class="row rowdescription">
        <div class="col description">
            <p>Le restaurant Takayala est un restaurant servant des spécialités japonaises à volonté.
                <br>Dans une salle de style zen et classique, des spécialités japonaises telles que sushis, tempuras et saké..</p>
        </div>
    </div>

<!--
<div class="row rowslider">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="menuimage1"><h1>Bleu</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="menuimage2"><h1>jaune</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="menuimage3"><h1>PINK</h1></div>
        </ion-slide>
    </ion-slide-box>
    </div>
-->


    <div class="row rowmenu">
        <div class="col titremenu">
            <h2>Menu</h2><hr>
            <h3>Entrée</h3>
            <li>
                <ul>Soupe Miso</ul>
                <ul>Salade de chou</ul>
                <ul>Salade d'algue</ul>
            </li>
            <h3>Sushi</h3>
            <li>
                <ul>Saumon</ul>
                <ul>Thon</ul>
                <ul>Dorade</ul>
                <ul>Maquereau</ul>
            </li>
            <h3>Maki</h3>
            <li>
                <ul>Saumon</ul>
                <ul>Thon</ul>
                <ul>Dorade</ul>
                <ul>Maquereau</ul>
            </li>
            <h3>Brochettes</h3>
            <li>
                <ul>Poulet</ul>
                <ul>Saumon</ul>
                <ul>Champignons</ul>
                <ul>Boeuf au fromage</ul>
                <ul>Boulettes</ul>
            </li>


        </div>
    </div>

</ion-content>

</ion-view>