<ion-view view-title="Restaurant">

<!--<div class="bar bar-header">
    <button class="button button-icon icon ion-search "></button>
    <div class="h1 title">Takayala</div>
</div>-->

<ion-content class="has-header">
    <div class="row rowphoto">
            <div class="col adresse">
                <p><i class="icon ion-ios-location"></i>&nbsp; 2 rue des Genets <br> &nbsp;&nbsp;&nbsp; 75002 Paris <br>
                    <i class="icon ion-android-subway"></i>	 &nbsp;Metro 1 : blablabla</p>
            </div>

    </div>

    <div class="row rownomresto">
        <div class="col nomresto">
            <h2>Takayala</h2>
        </div>
    </div>

    <div class="row rownote">
        <div class="col col-50 note" ><p>3.5/5</p></div>
        <div class="col col-50 note"><p>€€</p></div>
    </div>

</ion-content>

</ion-view>