<ion-view view-title="Restaurant">

    <!--<div class="bar bar-header">
        <button class="button button-icon icon ion-search "></button>
        <div class="h1 title">Takayala</div>
    </div>-->

    <ion-content>
        <div class="row rowphoto2">
            <div class="col adresse">
                <p><i class="icon ion-ios-location"></i>&nbsp; 7 rue du Général Leclerc <br> &nbsp;&nbsp;&nbsp; 75012 Paris <br>
                    <i class="icon ion-android-subway"></i>	 &nbsp;Metro 1 : blablabla</p>
            </div>

        </div>
        <div class="row rownomresto">
            <div class="col col-33 nomresto">
                <h2>Burger Bar</h2>
            </div>
            <div class="col col-33 note" ><p>4/5</p></div>
            <div class="col col-33 note"><p>€€</p></div>
        </div>

        <hr>

        <div class="row rowdescription">
            <div class="col description">
                <p>Le restaurant BurgerBar est un restaurant servant des hamburgers
                    </p>
            </div>
        </div>

        <!--
        <div class="row rowslider">
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <div class="menuimage1"><h1>Bleu</h1></div>
                </ion-slide>
                <ion-slide>
                    <div class="menuimage2"><h1>jaune</h1></div>
                </ion-slide>
                <ion-slide>
                    <div class="menuimage3"><h1>PINK</h1></div>
                </ion-slide>
            </ion-slide-box>
            </div>
        -->


        <div class="row ">
            <div class="col">
                <h2>Menu</h2><hr>
            </div>
        </div>
        <div class="row rowMenu">
            <div class="col col-50">
                <h3>ChesseBurger</h3>
                <li>
                    <ul>burger 300g</ul>
                    <ul>Oignon confits</ul>
                    <ul>Oeuf a chevale</ul>
                </li>
                <h3>Lamb Burger</h3>
                <li>
                    <ul>Poulet Pané 300g</ul>
                    <ul>Salade</ul>
                    <ul>Oignon</ul>
                    <ul>Tomates</ul>
                </li>
                <h3>Desserts</h3>
                <li>
                    <ul>Nougat</ul>
                    <ul>Boule coco</ul>
                    <ul>Glace</ul>
                </li>
            </div>
        </div>
        <div class="row planRow">
            <div class="col imgPlan"></div>
        </div>

    </ion-content>

</ion-view>