body{
	font-family: "Avenir Next";
}

/*Home*/

.homeRow {
	height: 100%;
}

.blockTitle{
	font-family: Bebas;
}

.ambiancePad{
	font-family: Bebas;
}

/*HEADER*/
.bar{
	background-color:#e05251;
}


.bar .button{
	color: white;
}

.bar .title{
	color: white;
	font-size: 17px;
	font-family: 'Bebas';
}



a {
	text-decoration: none;
}



/*RESTO1*/

.rowphoto{
	height: 49%;
	background:url('../img/takayala.png') no-repeat center ;
}

.adresse > p{
	text-shadow: 0 0 0.2em #000, 0 0 0.2em #000,
	0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000 ;
	font-size: 17px;
	color: white;
	margin-left: 5%;
	margin-bottom: 3%;
	position: absolute;
	bottom: 0;
}

.adresse{
	position: relative;
}


.note{
	font-size: 18px;
	color:#e05251;
	height: 20%;
	margin-top: 3%;
}

.note > p{
	border: 1px solid ;
	width: 50%;
	height: 5vh;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;

}

.rownomresto{
	height: 10%;
}

.nomresto > h2{
	margin-top: 10%;
	font-family: 'Avenir Next Condensed';
	font-size: 27px;
	color:#e05251;
}

.description > p{
	font-size: 15px;
}
.rowMenu {
	margin-bottom: 2vh;
}
.titremenu > h2{
	font-family: 'Avenir Next Condensed';
	font-size: 22px;
	color:#e05251;
}
.titremenu > h3{
	font-family: 'Avenir Next Condensed';
	font-size: 18px;
}

.planRow {
	padding: 0;
}

.imgPlan {
	background: url('../img/plan01.png');
	background-size: cover;
	height: 30vh;
}

/* PREMIERE PAGE */

.bg_01 {
	background-image:url("../img/background01.jpg");
	background-repeat: no-repeat;
	background-position: 40% 15%;
}

.verticalAlign {
	display: -webkit-inline-flex;
	-webkit-align-items: center;
}

.blocPlacing {
	background-color: #e05251;
	line-height: 3vh;
	border-radius: 2vh;
}
.blockTitle {
	line-height: 6vh;
}
.iconSize {
	font-size:10vh;
}


/*
.rightBlock {
	background-color: #e05251;
	color: white;
	height: 50%;
	border-radius: 2vh;
	margin-top: 20vh;

}
	.rightBlock-title {
		line-height: 6vh;
		position: absolute;
    	top: 27vh;
    	left: 33.2vh;
	}
	.iconLocation {
		font-size: 8vh;
		position: absolute;
    	top: 58vh;
    	left: 39vh;
	}
*/

/*INCRIPTION*/

.inscription{
	background: #e05251;
}

.logo{
	margin-top: 20%;
}


.item-input{
	height: 50px;
	width: 80%;
	border-radius: 40px;
	margin-top: 3%;
}

.collogo > p{
	font-family: Bebas;
	color: white;
	margin-top: 8%;
	font-size: 25px;
}

.item > .icon{
	font-size: 25px;
}

.list > .button{
	margin-top: 5%;
	width:150px;
	background: #e05251;
	border: solid 1px white;
	color:white;
}

.lieninscription{
	color:white;
	font-size: 17px;
}

/*LOGIN*/

.connexion{
	font-family: Bebas;
	color: white;
	margin-top: 15%;
	font-size: 25px;
}