.scroll {
    height: 100%;
}

#map{
    height: 100%;
    width: 100%;
}
.item-input2 {
    height: 30px;
    width: 80%;
    border-radius: 40px;
    margin-top: 0.1%;
}

.selectMap {
    border-radius: 20%;
    margin: 0 10px 0 0;
}
